# cmake
build/
out/

# IDE and OS
.vscode/
.idea/
.DS_Store

# python
.cache/
__pycache__/
*.py[oc]
*.pyc
dist/
wheels/
*.egg-info

# virtual environments
.venv/
.so101/

# local env vars (use .env.example as template)
.env
